    <ul class="naviagtion_bar">
      <li class="nav_element"><a href="/index">Page List</a></li>
      <li class="nav_element"><a href="/home">Home</a></li>
      <li class="nav_element"><a href="/browse">Search</a></li>
      <li style="float:right" class="nav_element"><a href="/profile">Profile</a></li>
    </ul>

    <h2 id="page-title">Materials</h2>


    {{#each data}}
            <div class="material_information">
              <h2 id="mat_name" class="material_bit">{{{this.name}}}</h2>

              <div id="weapons_div" class="material_bit">
                <h3>Weapons Using This Material:</h3>
                <ul id="weapons_list">
                  <li>{{{this.wpn_name}}}</li>
                <ul>
              </div>

              <div id="magic_div" class="material_bit">
                <h3>Enchantments Using This Material:</h3>
                <ul id="magic_list">
                  <li>[List Enchantments Here]</li>
                <ul>
              </div>

              <div id="stats_div" class="material_bit">
                <h3>Statistics:</h3>
                <p>Hardness: {{{this.hardness}}}</p>
                <p>Cost: {{{this.cost}}}</p>
                <p>Weight: {{{this.weight}}}</p>
                <p>Color: {{{this.color}}}</p>
                <p>Experience Requirement: {{{this.exeprienceReq}}}</p>
              </div>

            </div>

            <br><br>

    {{/each}}

    <div class="material_buttons">
      <a href="/home"><button type="button">Back</button></a>
    </div>
