    <ul class="naviagtion_bar">
      <li class="nav_element"><a href="/index">Page List</a></li>
      <li class="nav_element"><a href="/home">Home</a></li>
      <li class="nav_element"><a href="/browse">Search</a></li>
      <li style="float:right" class="nav_element active"><a href="/profile">Profile</a></li>
    </ul>

    <h2 id="page-title">Profile</h2>

    {{#each data}}
      <div class="profile_information">
        <h2 id="smith_name">{{{this.fname}}} {{{this.lname}}}</h2>

        <div id="weapons_div" class="profile_bit">
        <h3>Weapons:</h3>
        <ul id="weapons_list">
        {{#each weapons}}
          <li>{{{this}}}</li>
        {{/each}}
        <ul>
        </div>

        <div id="materials_div" class="profile_bit">
        <h3>Materials:</h3>
        <ul id="materials_list">
        {{#each materials}}
          <li>{{{this}}}</li>
        {{/each}}
        <ul>
        </div>

        <div id="mentors_div" class="profile_bit">
        <h3>Mentors:</h3>
        <ul id="mentors_list">
        {{#each mentors}}
          <li>{{this}}</li>
        {{#each}}
        <ul>
        </div>

        <div id="mentees_div" class="profile_bit">
        <h3>Mentees:</h3>
        <ul id="mentees_list">
        {{#each mentees}}
          <li>{{this}}</li>
        {{/each}}
        <ul>
        </div>

        <div id="more_info" class="profile_bit">
        <p>Specialties: {{{this.specialty}}}</p>
        <p>Location: {{{this.village}}}, {{{this.kingdom}}}</p>
        <p>Experience: {{{this.experience}}}</p>
        </div>
      </div>

      <br><br>
    {{/each}}

    <div class="profile_buttons">
      <a href="/home"><button type="button">Back</button></a>
    </div>
